footer{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 30px;
  background: #8a171e;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  p{
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}
